<ion-header>
  <ion-toolbar>
    <ion-title> Give Access To Your Clients     <ion-button color="primary" style="float: right;"  (click)="goBack()"> Go back</ion-button> </ion-title>

  </ion-toolbar>
</ion-header>


<ion-content padding>
    <p style="color:green" > {{userMessage}}</p>
   
    <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of adminData">
         <td> {{item.name}}</td>
         <td> {{item.phone}}</td>
         <td>{{item.email}}</td>
         <td><ion-button color="success" (click)="statusChange(item)">{{item.state}}</ion-button></td>
        </tr>
        </tbody>
      </table>
    
</ion-content>