<ion-header>
  <ion-toolbar>
    <ion-title>
      GEO Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <span style="color: red">{{message}}</span>
    <div style="float:right">
        <a (click)="upload()">Upload</a> | <a (click)="login()">Login</a> | <a (click)="signUp()">Sign Up </a>
        | <a (click)="schedule()">Schedule </a>
  </div>
    <br>
    <div *ngIf="loginButton">
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="username" type="text" value="" (change)="onChange()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="password" type="password" value=""></ion-input>
      </ion-item>

      <div padding>
        <!-- <ion-button href="/location" routerDirection="root"> -->
        <ion-button color="success" (click)="submit()">Submit </ion-button>
      </div>
    </div>
    <div *ngIf="signUpButton">

      <span style="color: red">{{userEmailMessage}}</span>
      <ion-item>
        <ion-label floating>Name<span style="color: red">*</span> </ion-label>
        <ion-input [(ngModel)]="name" type="text" value="" (change)="onChange()" aria-required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email<span style="color: red">*</span></ion-label>
        <ion-input autocomplete="off" [(ngModel)]="email" type="email" id="emailId" value="" (change)="onChange()" (paste)="false" (focusout)="onChange()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Phone<span style="color: red">*</span></ion-label>
        <ion-input [(ngModel)]="phone" type="number" value="" (change)="onChange()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating> Company Name <span style="color: red">*</span></ion-label>
        <ion-input [(ngModel)]="companyName" type="text" value="" (change)="onChange()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password<span style="color: red">*</span></ion-label>
        <ion-input [(ngModel)]="password" type="password" value="" (change)="onChange()"></ion-input>
      </ion-item>
      <div padding>
        <!-- <ion-button href="/location" routerDirection="root"> -->
        <ion-button color="success" (click)="RegisterSubmit()">Submit </ion-button>
      </div>

    </div>


  </ion-list>
  <div *ngIf="uploadImage">
  <h3 *ngIf="images.length == 0" text-center>Please Select Image!</h3>
 
  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="startUpload(img,pos)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</div>

<div *ngIf="scheduleTable">
    <br>
    <br>
     <ion-item>
    <ion-label>From</ion-label>
     <ion-input type="text" [(ngModel)]="from" name="from">
       
     </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>To</ion-label>
   <ion-input type="text" [(ngModel)]="to" name="to">
       
     </ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button color="success" style="float: left;" (click)="submitChordsData()">Submit</ion-button>
    </ion-col>
  </ion-row>
  </div>

  <div *ngIf="scheduleTable">
    <br>
    <br>
    <p>Your Plan Schedule Data</p>
    <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>End</th>
          <th>Distance</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reportingData">
          <td>{{item.start_address}}</td>
          <td>{{item.end_address}}</td>
          <td> {{item.distance.text}}</td>
          <td> {{item.duration.text}}</td>
          
          

        </tr>
      </tbody>
    </table>
  </div>

<div #map class="map" *ngIf="mapsData"></div>
</ion-content>

<ion-footer *ngIf="uploadImage">
  <ion-toolbar color="success">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image</ion-button>
  </ion-toolbar>
</ion-footer>

